body{
    background-color: #ffffff;
    background-image: url(gambar/18915856.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top center;
}

h1{
    color: navy;
}